{
  "presets": ["flow", ["env", {
    "targets": {
      "browsers": [">1%", "last 4 versions", "Firefox ESR", "not ie < 9"]
    }
  }]],
  "plugins": ["transform-react-jsx", "transform-class-properties"]
}
